.venv/*
.idea/*
__pycache__/
Lib/*
Scripts/*
pyvenv.cfg
.streamlit/secrets.toml
etc/*
share/*
.DS_Store
*/.DS_Store
.vscode/*
twelve_chat.bat
.env
*.env
user_info.json
clustering.ipynb
buildup_metrics.csv
secrets.toml
/raw data/
# Ignore all Parquet files
*.parquet
/data/dynamic_events_pl_24/
