.venv/*
.idea/*
__pycache__/
Lib/*
Scripts/*
pyvenv.cfg
.streamlit/secrets.toml
etc/*
share/*
.DS_Store
*/.DS_Store
.vscode/*
twelve_chat.bat
.env
*.env
user_info.json
clustering.ipynb
#buildup_metrics.csv #Need to have it in Git as otherwise it won't be read by Streamlit when deploying app.
secrets.toml
/raw data/
# Ignore all Parquet files and the dynamic_events_pl_24 directory
#*.parquet #Need to have it in Git as otherwise it won't be read by Streamlit when 
match_periods.parquet
matches_clean.parquet
players_match.parquet
/data/dynamic_events_pl_24/
data/dynamic_events_pl_24/
venv/
user_info.json
clustering.ipynb

